@{
    ViewData["Title"] = "Home Page";
}


<div class="posts">
    <article>
        <a href="#" class="image"><img src="~/images/doctor.jpg" alt="" /></a>
        <h3>Interdum aenean</h3>
        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
    </article>
    <article>
        <a href="#" class="image"><img src="~/images/real.jpg" alt="" /></a>
        <h3>Nulla amet dolore</h3>
        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
    </article>
    <article>
        <a href="#" class="image"><img src="~/images/images.jpg" alt="" /></a>
        <h3>Tempus ullamcorper</h3>
        <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
    </article>
   
</div>